.container{
    display: flex;
    justify-content: space-evenly;
}
.box{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
#box1{
    background-color: hsl(180, 69%, 70%);
}
#box2{
    background-color: hsl(180, 69%, 70%);
}
#box3{
    background-color: hsl(180, 69%, 70%);
}
#box4{
    background-color: hsl(180, 69%, 70%);
}
#box5{
    background-color: hsl(180, 69%, 70%);
}